<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"container py-5","layout":{"type":"default"}} -->
<main class="wp-block-group container py-5">
    <!-- wp:group {"tagName":"article","layout":{"type":"default"}} -->
    <article class="wp-block-group">
        <!-- wp:post-title {"level":1,"className":"mb-4"} /-->

        <!-- wp:post-featured-image {"className":"img-fluid rounded mb-4"} /-->

        <!-- wp:post-content {"layout":{"type":"default"}} /-->
    </article>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->